<!--
<%= render 'form' %>
-->


<h1>Listing stock_financial_data</h1>

<table>
  <tr>
    <th>Stock</th>
    <th>Day</th>
    <th>总市值</th>
    <th>流通市值</th>
    <th>流通股本</th>
    <th>总股本</th>
    <th>主营收入ttm</th>
    <th>股价</th>
    <th>市盈率ttm</th>
    <!--th>Pe lyr</th-->
    <th>动态市盈率</th>
    <th>市净率</th>
    <th>市销率</th>
    <th>摊薄每股收益ttm</th>
    <th>每股净资产</th>
    <th>净资产收益率ttm</th>
    <th>毛利率ttm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @stock_financial_data.each do |stock_financial_datum| %>
      <tr>
        <td><%= stock_id_to_code(stock_financial_datum.stock_id) %></td>
        <td><%= stock_financial_datum.day %></td>
        <td><%= stock_financial_datum.zsz %></td>
        <td><%= stock_financial_datum.ltsz %></td>
        <td><%= stock_financial_datum.ltgb %></td>
        <td><%= stock_financial_datum.zgb %></td>
        <td><%= stock_financial_datum.zysr_ttm %></td>
        <td><%= stock_financial_datum.price %></td>
        <td><%= stock_financial_datum.pe_ttm %></td>
        <!--td><%= stock_financial_datum.pe_lyr %></td-->
        <td><%= stock_financial_datum.pe_d %></td>
        <td><%= stock_financial_datum.mrq %></td>
        <td><%= stock_financial_datum.mrr %></td>
        <td><%= stock_financial_datum.profit_ttm %></td>
        <td><%= stock_financial_datum.mgjzc %></td>
        <td><%= stock_financial_datum.jzcsyl_ttm %></td>
        <td><%= stock_financial_datum.mll_ttm %></td>
        <td><%= link_to 'Show', stock_financial_datum %></td>
        <td><%= link_to 'Edit', edit_stock_financial_datum_path(stock_financial_datum) %></td>
        <td><%= link_to 'Destroy', stock_financial_datum, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Stock financial datum', new_stock_financial_datum_path %>
<p><%= will_paginate @stock_financial_data %></p>