<p id="notice"><%= notice %></p>

<p>
  <b>Stock:</b>
  <%= @stock_financial_datum.stock_id %>
</p>

<p>
  <b>Day:</b>
  <%= @stock_financial_datum.day %>
</p>

<p>
  <b>Zsz:</b>
  <%= @stock_financial_datum.zsz %>
</p>

<p>
  <b>Ltsz:</b>
  <%= @stock_financial_datum.ltsz %>
</p>

<p>
  <b>Ltgb:</b>
  <%= @stock_financial_datum.ltgb %>
</p>

<p>
  <b>Zgb:</b>
  <%= @stock_financial_datum.zgb %>
</p>

<p>
  <b>Zysr ttm:</b>
  <%= @stock_financial_datum.zysr_ttm %>
</p>

<p>
  <b>Price:</b>
  <%= @stock_financial_datum.price %>
</p>

<p>
  <b>Pe ttm:</b>
  <%= @stock_financial_datum.pe_ttm %>
</p>

<p>
  <b>Pe lyr:</b>
  <%= @stock_financial_datum.pe_lyr %>
</p>

<p>
  <b>Pe d:</b>
  <%= @stock_financial_datum.pe_d %>
</p>

<p>
  <b>Mrq:</b>
  <%= @stock_financial_datum.mrq %>
</p>

<p>
  <b>Mrr:</b>
  <%= @stock_financial_datum.mrr %>
</p>

<p>
  <b>Profit ttm:</b>
  <%= @stock_financial_datum.profit_ttm %>
</p>

<p>
  <b>Mgjzc:</b>
  <%= @stock_financial_datum.mgjzc %>
</p>

<p>
  <b>Jzcsyl ttm:</b>
  <%= @stock_financial_datum.jzcsyl_ttm %>
</p>

<p>
  <b>Mll ttm:</b>
  <%= @stock_financial_datum.mll_ttm %>
</p>


<%= link_to 'Edit', edit_stock_financial_datum_path(@stock_financial_datum) %> |
<%= link_to 'Back', stock_financial_data_path %>
