<p id="notice"><%= notice %></p>

<p>
  <b>Market:</b>
  <%= @stock.market %>
</p>

<p>
  <b>Code:</b>
  <%= @stock.code %>
</p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>sell_price:</b>
  <%= @stock.sell_price %>
</p>
<p>
  <b>buy_price:</b>
  <%= @stock.buy_price %>
</p>
<p>
  <b>high_break:</b>
  <%= @stock.high_break %>
</p>
<p>
  <b>low_break:</b>
  <%= @stock.low_break %>
</p>
<p>
  <b>dkflag:</b>
  <%= @stock.dkflag %>
</p>
<p>
  <b>tbp:</b>
  <%= @stock.tbp %>
</p>
<p>
  <b>stop_lost:</b>
  <%= @stock.stop_lost %>
</p>
<p>
  <b>take_profit:</b>
  <%= @stock.take_profit %>
</p>

<p>
  <b>active_capital:</b>
  <%= @stock.active_capital %>
</p>
<p>
  <b>zgb:</b>
  <%= @stock.zgb %>
</p>
<p>
  <b>zzc:</b>
  <%= @stock.zzc %>
</p>

<p>
  <b>gdzc:</b>
  <%= @stock.gdzc %>
</p>
<p>
  <b>wxzc:</b>
  <%= @stock.wxzc %>
</p>
<p>
  <b>jzc:</b>
  <%= @stock.jzc %>
</p>
<p>
  <b>btsy:</b>
  <%= @stock.btsy %>
</p>

<p>
  <b>yywsz:</b>
  <%= @stock.yywsz %>
</p>
<p>
  <b>lyze:</b>
  <%= @stock.lyze %>
</p>
<p>
  <b>shly:</b>
  <%= @stock.shly %>
</p>
<p>
  <b>mgsy:</b>
  <%= @stock.mgsy %>
</p>


<p>
  <b>gdqyb:</b>
  <%= @stock.gdqyb %>
</p>
<p>
  <b>zbgjj:</b>
  <%= @stock.zbgjj %>
</p>
<p>
  <b>zysy:</b>
  <%= @stock.zysy %>
</p>

<p>
  <b>zyly:</b>
  <%= @stock.zyly %>
</p>
<p>
  <b>yyly:</b>
  <%= @stock.yyly %>
</p>
<p>
  <b>tzsy:</b>
  <%= @stock.tzsy %>
</p>

<p>
  <b>jly:</b>
  <%= @stock.jly %>
</p>
<p>
  <b>wfply:</b>
  <%= @stock.wfply %>
</p>
<p>
  <b>mgjzc:</b>
  <%= @stock.mgjzc %>
</p>

<p>
  <b>jyl:</b>
  <%= @stock.jyl %>
</p>
<p>
  <b>mgwfp:</b>
  <%= @stock.mgwfp %>
</p>
<p>
  <b>mggjj:</b>
  <%= @stock.mggjj %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
